<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Title</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Title</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong class="capitalize">Web Capabilities</strong>
    <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://www.chromium.org/teams/web-capabilities-fugu/">Bridging the native app gap</a></p>
    <ion-card>
      <ion-card-header>
        <ion-card-title>USB</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button expand="block" (click)="callMethod()">Web USB Api</ion-button>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>NFC</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button expand="block" (click)="callMethod2()">Web NFC Api</ion-button>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>BLE</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button expand="block">Web BLE Api</ion-button>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>